.content
  %p
    %span.h2 A-FIGHTERS
    was a comic I made during high school. A few years ago, when my MacBook harddrive crashed on me, I thought the work was lost forever. But fate would have it that I rediscover it in my Gmail archive. Untouched since 2009, A-FIGHTERS in all its glory returns to the internet once more.

  %img{src: "http://fc01.deviantart.net/fs71/f/2013/332/a/c/01_by_chesterlaw-d6vxxl1.jpg"}
  %img{src: "http://fc02.deviantart.net/fs71/f/2013/332/9/9/02_by_chesterlaw-d6vxxni.jpg"}
  %img{src: "http://fc01.deviantart.net/fs70/f/2013/332/4/7/03_by_chesterlaw-d6vxxo7.jpg"}
  %img{src: "http://fc02.deviantart.net/fs71/f/2013/332/3/2/04_by_chesterlaw-d6vxxq9.jpg"}
  %img{src: "http://fc03.deviantart.net/fs71/f/2013/332/a/9/05_by_chesterlaw-d6vxxqx.jpg"}
  %img{src: "http://fc04.deviantart.net/fs71/f/2013/332/a/b/06_by_chesterlaw-d6vxxsq.jpg"}
  %img{src: "http://fc08.deviantart.net/fs71/f/2013/332/f/b/07_by_chesterlaw-d6vxxta.jpg"}
  %img{src: "http://fc01.deviantart.net/fs71/f/2013/332/0/6/08_by_chesterlaw-d6vxxu3.jpg"}
  %img{src: "http://fc01.deviantart.net/fs71/f/2013/332/6/0/09_by_chesterlaw-d6vxxuo.jpg"}
  %img{src: "http://fc03.deviantart.net/fs70/f/2013/332/d/3/10_by_chesterlaw-d6vxxvh.jpg"}
  %img{src: "http://fc06.deviantart.net/fs70/f/2013/332/e/b/11_by_chesterlaw-d6vxxw7.jpg"}

.back
  %p &#9654;
  %a= link_to "Back", w_path