.wrapper 
  .chinese_title
    - @chinese_title.each do |character|
      %h1= character



  .content
    %p
      %span.h2 This is Chester Law's Website.
      I don't like to use UI Frameworks like Bootstrap or Foundation, because they make your site look like everyone else's. Also, it's annoying to learn about the taken up keywords and how to use the framework. It's really just easier for me to write my own grid system. I don't really get why that's the main selling feature of these frameworks. Just set some divs to 50% each, and you have a responsive site! Then when the viewport comes to a breakpoint like, say 480px, just do a media query to set them to be display block and width 100%. And yeah, this page isn't responsive.

    %p
      Background art by
      = link_to "Yuumei.", "http://yuumei.deviantart.com", class: :yuumei

.english_title
  %a{href: "/w"}
    %h1 Chester Law's
    %h1 Website

.more
  %a= link_to "A-FIGHTERS", afighters_path
  %p &#9654;

%footer
  %p &copy; 2013 Chester Law
