.chinese_title
  %h1 &#32645;
  %h1 &#24422;
  %h1 &#31456;
  %h1 &#20043;
  %h1 &#32178;
  %h1 &#31449;
  %h1 &#12290;

.english_title
  %h1 Chester Law's
  %h1 Website

.content
  %p
    %span.h2 This is Chester Law's Website.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sed lectus a diam tristique auctor nec at nunc. Praesent at tincidunt lorem. Etiam sagittis in dui sit amet gravida. Sed lacus mauris, tincidunt eget imperdiet sit amet, facilisis eget odio. Suspendisse eu ante cursus, vehicula eros sed, gravida metus. Duis ac cursus neque, at interdum est. Proin vitae sapien condimentum, venenatis nunc at, accumsan justo. In at egestas erat. Nunc id arcu ac urna vestibulum convallis quis facilisis turpis. Proin sapien nulla, pretium a vestibulum vel, laoreet fermentum nulla. In eget risus eu velit posuere adipiscing. Donec ullamcorper pretium nunc, sit amet sollicitudin arcu auctor quis. Donec aliquam risus id libero fringilla, non faucibus lectus ultricies. Integer feugiat gravida tellus, sit amet porttitor erat posuere nec. Nullam fermentum justo ornare sodales semper. Donec ullamcorper pretium nunc, sit amet sollicitudin arcu auctor quis.
  %p
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sed lectus a diam tristique auctor nec at nunc. Praesent at tincidunt lorem. Etiam sagittis in dui sit amet gravida. Sed lacus mauris, tincidunt eget imperdiet sit amet, facilisis eget odio. Suspendisse eu ante cursus, vehicula eros sed, gravida metus. Duis ac cursus neque, at interdum est. Proin vitae sapien condimentum, venenatis nunc at, accumsan justo. In at egestas erat. Nunc id arcu ac urna vestibulum convallis quis facilisis turpis. Proin sapien nulla, pretium a vestibulum vel, laoreet fermentum nulla. In eget risus eu velit posuere adipiscing. Donec ullamcorper pretium nunc, sit amet sollicitudin arcu auctor quis. Donec aliquam risus id libero fringilla, non faucibus lectus ultricies. Integer feugiat gravida tellus, sit amet porttitor erat posuere nec. Nullam fermentum justo ornare sodales semper.

%footer
  %p &copy; 2013 Chester Law