.character-design
  .character-design__title Character Design
  .character-design__english-name Chester Law
  .character-design__chinese-name 羅彦章

  .character-design__drawings
    = image_tag 'face-side.png', class: 'character-design__drawing character-design__drawing--side'
    = image_tag 'face-angle.png', class: 'character-design__drawing character-design__drawing--angle'
    = image_tag 'face-front.png', class: 'character-design__drawing character-design__drawing--front'
