.character-design
  .character-design__drawings
    = image_tag 'face-side.png', class: 'character-design__drawing character-design__drawing--side'
    = image_tag 'face-angle.png', class: 'character-design__drawing character-design__drawing--angle'
    = image_tag 'face-front.png', class: 'character-design__drawing character-design__drawing--front'

  %p.character-design__caption Chester Law Character Designs