.eva-block.eva-block--title
  .title
    %h1 Transport
    %h2 Panasonic

.eva-block.eva-block--picture
  %img{src: "https://s3-us-west-1.amazonaws.com/chesterlaw/Panasonic+Bike.jpg"}
  .bottom-border
    .left.piece
    .text
      %h2 Object:
      %h1 Bicycle
    .right.piece
