.my-works
  .my-works__title My Works
  .my-works__content
    .my-works__work
      = link_to 'http://www.audiomon.com', target: '_blank', class: 'my-works__work__link' do
        = image_tag 'audiomon.png', class: 'my-works__work__link__image'
      .my-works__work__description Google Docs for GarageBand.
    .my-works__work
      = link_to 'Erder', 'http://chester.la/w/erder', target: '_blank', class: 'my-works__work__link'
      .my-works__work__description A geometric, unarbitrary, and therefore grid-based typeface.
