.red-white-block
  .red-white-block__red-section
    .red-white-block__red-section__title CL

  .red-white-block__white-section
    .red-white-block__white-section__title.red-white-block__white-section__title--1 Hello. I am Chester Law.
    .red-white-block__white-section__title.red-white-block__white-section__title--2 Hikikomori, Programmer, Cyberpunk.

  .red-white-block__red-section
    %ul.red-white-block__red-section__list
      %li= link_to 'A-FIGHTERS', a_fighters_path, class: 'red-white-block__red-section__list__link'
      %li Erder
      %li Possessions
