.red-white-block
  = link_to 'GitHub', 'https://github.com/chesterlaw', target: '_blank', class: 'red-white-block__link'
  = link_to 'Erder', 'http://chester.la/w/erder', target: '_blank', class: 'red-white-block__link'
  = link_to 'Possessions', 'http://chester.la/w/possessions', target: '_blank', class: 'red-white-block__link'

