.red-white-block
  = link_to 'Twitter', 'https://twitter.com/chesterlaww', class: 'red-white-block__link'
  = link_to 'GitHub', 'https://github.com/chesterlaw', class: 'red-white-block__link'
  = link_to 'Erder', 'http://chester.la/w/erder', class: 'red-white-block__link'
  = link_to 'Possessions', 'http://chester.la/w/possessions', class: 'red-white-block__link'

