.red-white-block
  = link_to 'Twitter', 'https://twitter.com/chesterlaww', class: 'red-white-block__link'
  = link_to 'GitHub', 'https://github.com/chesterlaw', class: 'red-white-block__link'
  .red-white-block__link Erder
  .red-white-block__link Possessions
