.red-white-block
  .red-section
    %h1 CL

  .white-section
    %h2 Hello. I am Chester Law.
    %h3 Hikikomori, Programmer, Cyberpunk.

  .red-section
    %ul
      %li= link_to 'A-FIGHTERS', a_fighters_path
      %li Erder
      %li Possessions
