.red-white-block
  = link_to 'GitHub', 'https://github.com/chesterlaw', target: '_blank', class: 'red-white-block__link'
  = link_to 'YouTube', 'https://www.youtube.com/user/chesterlaw2001', target: '_blank', class: 'red-white-block__link'
