.merge-title
  .merge-title__title Chester Law
  .merge-title__content
    %p This is Chester Law's Website.

    %br

    %p I'm not sure I buy this whole responsive craze. I want to be able to paint on a large canvas, the size of a typical desktop browser, not the size of a smartphone. Artists don't have to paint on tiny canvases, and I shouldn't have to either.
