.page.page--3
  .red-section
    %h1 CL

  .white-section
    %h2 Hello. I am Chester Law.
    %h3 Hikikomori, Programmer, Cyberpunk.

  .red-section
    %ul
      %li A-Fighters
      %li Erder
      %li Possessions
