.page.page--6
  .red-container
    .header-section
      .header
        = image_tag "riyarchy.png"
        %h1 The Riyarchy

    .level.flex
      .section-wrapper.percent-50
        .section
          %p Riyarchy works to remove irrationalities from the world. We have launched multiple efforts to this end.
      .section-wrapper.percent-50
        .section
          %p The eponymous debut, the Riyarchy platform indexes arguments and their refutation arguments indefinitely. Through a cancelling out system, it is determined which arguments are undefeated.

    .level.flex
      .section-wrapper.percent-25
        .section
          %p Please be rational.
      .section-wrapper.percent-75
        .section
          %p Join us, as we construct the argument trees that will end global debates, and ultimately progress humanity.

    .level
      .section-wrapper.percent-100
        .section
          %p The world can't advance, because decisions aren't being made. Under the excuse of "debate rages on," we procrastinate.
    .level
      .section-wrapper.percent-100
        .section
          %p But if arguments were outlined orderly, we can achieve decisive victory.
    .level
      .section-wrapper.percent-100
        .section
          %p Sourced from the collective insight of all humanity, we can draw our conclusions accordingly. Welcome to the Riyarchy.
