.page.page--2
  .page--2__section
    .page--2__title-section
      %h1 Chester Law

    .page--2__content-section
      %p Hi, I'm Chester Law. This is my website. Thanks for visiting.
      %a A-Fighters.
      %a Erder.
      %a My Possessions.
