.a-fighters.page-section-wrapper
  = link_to "< Back", w_path, class: "back"
  
  .page-section
    .cover
      = image_tag "a-fighters.png"

      %p
        A-FIGHTERS was a comic I made during high school. A few years ago, when my MacBook harddrive crashed on me, I thought the work was lost forever. But fate would have it that I rediscover it in my Gmail archive.

      %p Untouched since 2009, A-FIGHTERS in all its glory returns to the internet once more.

      %p.chinese
        「甲級爭取者」是我於高中時期創作的一部漫畫。幾年前，因電腦不幸壞了，讓我以為此作品會永遠消失......但命運使我在郵件箱紀錄中尋回之。

      %p.chinese
        「甲級爭取者」現光榮回歸！

      .red_tab
        %h2.chinese 甲級爭取者
        %h3 藝術復活, 原作2009版本回到互聯網

    %img{src: "http://fc01.deviantart.net/fs71/f/2013/332/a/c/01_by_chesterlaw-d6vxxl1.jpg"}
    %img{src: "http://fc02.deviantart.net/fs71/f/2013/332/9/9/02_by_chesterlaw-d6vxxni.jpg"}
    %img{src: "http://fc01.deviantart.net/fs70/f/2013/332/4/7/03_by_chesterlaw-d6vxxo7.jpg"}
    %img{src: "http://fc02.deviantart.net/fs71/f/2013/332/3/2/04_by_chesterlaw-d6vxxq9.jpg"}
    %img{src: "http://fc03.deviantart.net/fs71/f/2013/332/a/9/05_by_chesterlaw-d6vxxqx.jpg"}
    %img{src: "http://fc04.deviantart.net/fs71/f/2013/332/a/b/06_by_chesterlaw-d6vxxsq.jpg"}
    %img{src: "http://fc08.deviantart.net/fs71/f/2013/332/f/b/07_by_chesterlaw-d6vxxta.jpg"}
    %img{src: "http://fc01.deviantart.net/fs71/f/2013/332/0/6/08_by_chesterlaw-d6vxxu3.jpg"}
    %img{src: "http://fc01.deviantart.net/fs71/f/2013/332/6/0/09_by_chesterlaw-d6vxxuo.jpg"}
    %img{src: "http://fc03.deviantart.net/fs70/f/2013/332/d/3/10_by_chesterlaw-d6vxxvh.jpg"}
    %img{src: "http://fc06.deviantart.net/fs70/f/2013/332/e/b/11_by_chesterlaw-d6vxxw7.jpg"}
