- @body_classes = 'dynamic-colors'

.content
  %h1.custom-color Dynamic UI Color Setting
  .custom-background
    %h1 Custom Background

.color-chooser
  .color-chooser__color-choice.color-chooser__color-choice--red
  .color-chooser__color-choice.color-chooser__color-choice--green
  .color-chooser__color-choice.color-chooser__color-choice--blue

