- @body_classes = 'dynamic-colors'

.color-chooser
  %h1.color-chooser__chosen-color My Color Choice:
  .color-chooser__color-choice.color-chooser__color-choice--red
  .color-chooser__color-choice.color-chooser__color-choice--green
  .color-chooser__color-choice.color-chooser__color-choice--blue
