- @body_classes = 'dynamic-colors'

.content.custom-border-color
  .title.custom-color.custom-border-color Dynamic UI Color Setting

  .paragraph
    .paragraph__corner-border.paragraph__corner-border--top-left.custom-border-color
    .paragraph__corner-border.paragraph__corner-border--top-right.custom-border-color
    .paragraph__corner-border.paragraph__corner-border--bottom-left.custom-border-color
    .paragraph__corner-border.paragraph__corner-border--bottom-right.custom-border-color

    .paragraph__content.custom-color This is just some filler content. This is just some filler content. This is just some filler content. This is just some filler content. This is just some filler content. This is just some filler content. This is just some filler content. This is just some filler content.
    .paragraph__content.custom-color This is just some filler content. This is just some filler content. This is just some filler content. This is just some filler content. This is just some filler content. This is just some filler content. This is just some filler content. This is just some filler content.

  .text-block.custom-background
    %h1 Custom Background

.color-chooser.custom-background
  .color-chooser__color-choice.color-chooser__color-choice--red
  .color-chooser__color-choice.color-chooser__color-choice--green
  .color-chooser__color-choice.color-chooser__color-choice--blue

