- @body_classes = :w7

.page-section
  .content-section
    %p My Message
    %p Another message

    %p THX 1138

  .status-section
    %p Jan 14 2014
    %p 12:47AM
    %p 72 F
    %p BUBBLE GUM CRISIS

.buttons-section
  %p Get a Power
  %p T.V. Guide
  %p Local News
  %p Int'l News
  %p Playback