.index
  .index__chinese-title
    - @chinese_title.each do |character|
      %h1= character

  .index__content
    .index__english-title Chester Law's Website
    %ul
      %li= link_to 'Twitter', 'https://twitter.com/chesterlaww'
      %li= link_to 'GitHub', 'https://github.com/chesterlaw'
      %li{style: 'opacity: 0'}= link_to 'Experiments', experiments_path
