- @body_classes = :w10

- 7.times do
  .pixel.clear
- 8.times do
  .pixel.black
- 8.times do
  .pixel.clear

- 6.times do
  .pixel.clear
- 4.times do
  .pixel.black
- 5.times do
  .pixel.orange
- 2.times do
  .pixel.black
- 6.times do
  .pixel.clear

- 4.times do
  .pixel.clear
- 5.times do
  .pixel.black
- 3.times do
  .pixel.orange
- 2.times do
  .pixel.black  
- 2.times do
  .pixel.orange
- 1.times do
  .pixel.black
- 6.times do
  .pixel.clear

- 3.times do
  .pixel.clear
- 5.times do
  .pixel.black
- 3.times do
  .pixel.orange
- 1.times do
  .pixel.black
- 2.times do
  .pixel.white
- 1.times do
  .pixel.black
- 2.times do
  .pixel.orange
- 1.times do
  .pixel.black
- 5.times do
  .pixel.clear

- 2.times do
  .pixel.clear
- 1.times do
  .pixel.black
- 7.times do
  .pixel.orange
- 2.times do
  .pixel.black
- 1.times do
  .pixel.white
- 1.times do
  .pixel.green
- 1.times do
  .pixel.black
- 2.times do
  .pixel.orange
- 1.times do
  .pixel.black
- 5.times do
  .pixel.clear

- 2.times do
  .pixel.clear
- 1.times do
  .pixel.black
- 3.times do
  .pixel.orange
- 1.times do
  .pixel.red
- 4.times do
  .pixel.orange
- 1.times do
  .pixel.black
- 1.times do
  .pixel.green
- 1.times do
  .pixel.light-green
- 3.times do
  .pixel.orange
- 1.times do
  .pixel.black
- 5.times do
  .pixel.clear

- 2.times do
  .pixel.clear
- 1.times do
  .pixel.black
- 9.times do
  .pixel.orange
- 1.times do
  .pixel.black
- 4.times do
  .pixel.orange
- 1.times do
  .pixel.black
- 5.times do
  .pixel.clear

- 2.times do
  .pixel.clear
- 1.times do
  .pixel.black
- 7.times do
  .pixel.orange
- 2.times do
  .pixel.black
- 5.times do
  .pixel.orange
- 1.times do
  .pixel.black
- 5.times do
  .pixel.clear

- 3.times do
  .pixel.clear
- 7.times do
  .pixel.black
- 6.times do
  .pixel.orange
- 1.times do
  .pixel.black
- 6.times do
  .pixel.clear

- 4.times do
  .pixel.clear
- 1.times do
  .pixel.black
- 9.times do
  .pixel.orange
- 1.times do
  .pixel.black
- 1.times do
  .pixel.orange    
- 2.times do
  .pixel.black
- 5.times do
  .pixel.clear

- 5.times do
  .pixel.clear
- 4.times do
  .pixel.black
- 3.times do
  .pixel.orange
- 2.times do
  .pixel.black
- 3.times do
  .pixel.orange
- 3.times do
  .pixel.black
- 3.times do
  .pixel.clear

- 9.times do
  .pixel.clear
- 2.times do
  .pixel.black
- 4.times do
  .pixel.orange
- 2.times do
  .pixel.black
- 3.times do
  .pixel.orange
- 1.times do
  .pixel.black
- 2.times do
  .pixel.clear

- 4.times do
  .pixel.clear
- 5.times do
  .pixel.black
- 1.times do
  .pixel.orange
- 1.times do
  .pixel.black
- 2.times do
  .pixel.orange
- 2.times do
  .pixel.black
- 5.times do
  .pixel.orange
- 3.times do
  .pixel.black

- 2.times do
  .pixel.clear
- 2.times do
  .pixel.black
- 5.times do
  .pixel.orange
- 2.times do
  .pixel.black
- 1.times do
  .pixel.orange
- 1.times do
  .pixel.black
- 1.times do
  .pixel.white
- 6.times do
  .pixel.orange
- 1.times do
  .pixel.black
- 1.times do
  .pixel.orange
- 1.times do
  .pixel.black

- 1.times do
  .pixel.clear
- 1.times do
  .pixel.black
- 1.times do
  .pixel.white
- 1.times do
  .pixel.orange
- 1.times do
  .pixel.black
- 3.times do
  .pixel.orange
- 1.times do
  .pixel.black
- 1.times do
  .pixel.clear
- 2.times do
  .pixel.black
- 1.times do
  .pixel.white
- 1.times do
  .pixel.black
- 1.times do
  .pixel.white
- 1.times do
  .pixel.orange
- 1.times do
  .pixel.black
- 2.times do
  .pixel.orange
- 1.times do
  .pixel.black
- 1.times do
  .pixel.orange
- 1.times do
  .pixel.black
- 1.times do
  .pixel.clear

- 1.times do
  .pixel.black
- 2.times do
  .pixel.white
- 1.times do
  .pixel.black
- 1.times do
  .pixel.white
- 2.times do
  .pixel.orange
- 1.times do
  .pixel.black
- 1.times do
  .pixel.clear
- 1.times do
  .pixel.black
- 1.times do
  .pixel.orange
- 2.times do
  .pixel.black
- 2.times do
  .pixel.white
- 1.times do
  .pixel.black
- 2.times do
  .pixel.white
- 3.times do
  .pixel.black
- 2.times do
  .pixel.clear

- 3.times do
  .pixel.black
- 2.times do
  .pixel.white
- 2.times do
  .pixel.black
- 1.times do
  .pixel.clear
- 2.times do
  .pixel.black
- 2.times do
  .pixel.orange
- 1.times do
  .pixel.black
- 1.times do
  .pixel.white
- 2.times do
  .pixel.black
- 1.times do
  .pixel.white
- 1.times do
  .pixel.black
- 2.times do
  .pixel.orange
- 1.times do
  .pixel.black
- 2.times do
  .pixel.clear

- 2.times do
  .pixel.clear
- 3.times do
  .pixel.black
- 2.times do
  .pixel.clear
- 1.times do
  .pixel.black
- 2.times do
  .pixel.orange
- 1.times do
  .pixel.black
- 1.times do
  .pixel.orange
- 2.times do
  .pixel.black
- 1.times do
  .pixel.orange
- 2.times do
  .pixel.black
- 4.times do
  .pixel.orange
- 1.times do
  .pixel.black
- 1.times do
  .pixel.clear

- 6.times do
  .pixel.clear
- 1.times do
  .pixel.black
- 1.times do
  .pixel.white
- 1.times do
  .pixel.black
- 1.times do
  .pixel.white
- 4.times do
  .pixel.orange
- 1.times do
  .pixel.black
- 6.times do
  .pixel.orange
- 1.times do
  .pixel.black

- 7.times do
  .pixel.clear
- 8.times do
  .pixel.black
- 1.times do
  .pixel.white
- 1.times do
  .pixel.black
- 2.times do
  .pixel.white
- 1.times do
  .pixel.black
- 1.times do
  .pixel.white
- 1.times do
  .pixel.orange
- 1.times do
  .pixel.black
- 1.times do
  .pixel.clear

- 13.times do
  .pixel.clear
- 8.times do
  .pixel.black
- 2.times do
  .pixel.clear
