- @body_classes = :w4

.page-section
  .red-section
    %h1 CL

  .white-section
    %h2 Hello. I am Chester Law.
    %h3 Hikikomori, Programmer, Cyberpunk. Kamen Ride!

  .red-section
    %ul
      %li Hikikomori
      %li Programmer
      %li Cyberpunk
