- @body_classes = :w6

.title-bar
  %h1
    Chester
    %br
    Law

  .footer
    %p Terms
    %p Privacy
    %p= "\u00A9 #{Time.new.year} Chester Law"

.page-section
  %p This is Chester Law's Website.
  %p I don't like to use UI Frameworks like Bootstrap or Foundation, because they make your site look like everyone else's.
  %p Also, it's annoying to learn about the taken up keywords and how to use the framework. It's really just easier for me to write my own grid system. I don't really get why that's the main selling feature of these frameworks. Just set some divs to 50% each, and you have a responsive site! Then when the viewport comes to a breakpoint like, say 480px, just do a media query to set them to be display block and width 100%.
  %p We even have flexbox now to save the day!
