- @body_classes = :w3

.page-section
  .title-section
    %h1 Chester Law

  .content-section
    %p Hi, I'm Chester Law. This is my website. Thanks for visiting.
    %a A-Fighters.
    %a Erder.
    %a My Possessions.
