- @body_classes = :maou

.maou__content
  While in Tokyo, I stayed at Sasazuka, and happened to rewatch Hataraku Maou-sama, which coincidentally is set in Sasazuka. Well, it was a good opportunity to do some anime recreation shots.

  .maou__content__episode-number Episode 8:
  %p In this episode, Lucifer reveals himself and fight Maou and company.

  = image_tag 'http://www.pixhoster.info/f/2016-09/c4552989021a8b5b5487da967d660a60.jpg', class: 'maou__content__shot maou__content__shot--anime'
  = image_tag 'http://www.pixhoster.info/f/2016-09/ab1fe18b6073112001efaa1e09073d48.jpg', class: 'maou__content__shot maou__content__shot--real'

  .maou__content__episode-number Episode 10:
  %p In this episode, we meet a new character, and take the Keio line to Shinjuku.
