- @html_title = 'Hataraku Maou-sama! The Real'

.maou
  .maou__line.maou__line--1
  .maou__line.maou__line--2
  .maou__line.maou__line--3
  .maou__line.maou__line--4

  .maou__title
    = image_tag 'maou-logo.png', class: 'maou__title__image'
    .maou__title__the-real The Real

  .maou__content
    .maou__content__text.maou__content__text--spoiler-warning Warning: Spoilers for Hataraku Maou-sama! (The Devil is a Part-Timer!) Below!

    .maou__content__text While in Tokyo, I stayed in Sasazuka, and happened to be rewatching Hataraku Maou-sama. Coincidentally, the show is also set in Sasazuka, so it was a good opportunity to do some anime recreation shots.

    .maou__content__text The title above is named after the Osaka Universal Studio rides of "Attack on Titan: The Real," and "Evangelion: The Real," where guests experience more realistic depictions of those anime series. You can consider this a ride as well, which can be taken if you go to Tokyo. As mentioned in the anime, Sasazuka is indeed just one station away from Shinjuku, the main downtown area of Tokyo. You'll have no problem finding it.

    .maou__content__episode-number Episode 8:
    .maou__content__text In this episode, Lucifer reveals himself and fight Maou and company.

    .maou__content__shots
      -# = image_tag 'http://www.pixhoster.info/f/2016-09/c4552989021a8b5b5487da967d660a60.jpg', class: 'maou__content__shot maou__content__shot--anime'
      -#= image_tag 'http://www.pixhoster.info/f/2016-09/ab1fe18b6073112001efaa1e09073d48.jpg', class: 'maou__content__shot maou__content__shot--real'

    .maou__content__episode-number Episode 10:
    .maou__content__text In this episode, we meet a new character, and take the Keio line to Shinjuku.
