- @html_title = 'Hataraku Maou-sama! The Real'

.maou
  .maou__line.maou__line--1
  .maou__line.maou__line--2
  .maou__line.maou__line--3
  .maou__line.maou__line--4

  .maou__title
    = link_to 'Chester Law Presents', index_path, class: 'maou__title__chester', target: :_blank
    = image_tag 'maou-logo.png', class: 'maou__title__image'
    .maou__title__the-real The Real

  .maou__content
    .maou__content__text.maou__content__text--spoiler-warning Warning: Spoilers for Hataraku Maou-sama! (The Devil is a Part-Timer!) Below!

    .maou__content__text While in Tokyo, I stayed in Sasazuka, and happened to be rewatching Hataraku Maou-sama. Coincidentally, the show is also set in Sasazuka, so it was a good opportunity to do some anime recreation shots.

    .maou__content__text The title above is named after the Osaka Universal Studio rides of "Attack on Titan: The Real," and "Evangelion: The Real," where guests experience more realistic depictions of those anime series. You can consider this a ride as well, which can be taken if you go to Tokyo. As mentioned in the anime, Sasazuka is indeed just one station away from Shinjuku, the main downtown area of Tokyo. You'll have no problem finding it.

    .maou__content__episode-number Episode 5:
    .maou__content__text In this episode, Lucifer reveals himself and fight Maou and company.

    .maou__content__shots
      <a target="_blank" data-flickr-embed="true" href="https://www.flickr.com/photos/62072291@N04/30221404010/in/dateposted-public/" title="Maou Sama"><img class="maou__content__shot maou__content__shot--anime" src="https://c3.staticflickr.com/6/5489/30221404010_135b2c810b_b.jpg" alt="Maou Sama"></a>

      <a target="_blank" data-flickr-embed="true" href="https://www.flickr.com/photos/62072291@N04/29889579264/in/dateposted-public/" title="Maou The Real"><img class="maou__content__shot maou__content__shot--real" src="https://c1.staticflickr.com/6/5653/29889579264_8efc70956b_b.jpg" alt="Maou The Real"></a>

      .maou__content__shots__caption Maou returns to his true form and saves Emilia and Chi-chan.

    .maou__content__shots
      <a target="_blank" data-flickr-embed="true" href="https://www.flickr.com/photos/62072291@N04/30519531255/in/dateposted-public/" title="Maou Sama"><img class="maou__content__shot maou__content__shot--anime" src="https://c8.staticflickr.com/6/5459/30519531255_91736d4170_b.jpg" alt="Maou Sama"></a>

      <a target="_blank" data-flickr-embed="true" href="https://www.flickr.com/photos/62072291@N04/29889585684/in/dateposted-public/" title="Maou The Real"><img class="maou__content__shot maou__content__shot--real" src="https://c5.staticflickr.com/9/8599/29889585684_f05bbbdc69_b.jpg" alt="Maou The Real"></a>

      .maou__content__shots__caption Emilia about to transform.

    .maou__content__shots
      <a target="_blank" data-flickr-embed="true" href="https://www.flickr.com/photos/62072291@N04/30519528125/in/dateposted-public/" title="Maou Sama"><img class="maou__content__shot maou__content__shot--anime" src="https://c6.staticflickr.com/6/5338/30519528125_e1fa175f87_b.jpg" alt="Maou Sama"></a>

      <a target="_blank" data-flickr-embed="true" href="https://www.flickr.com/photos/62072291@N04/29889590584/in/dateposted-public/" title="Maou The Real"><img class="maou__content__shot maou__content__shot--real" src="https://c1.staticflickr.com/6/5706/29889590584_42ce1d2a8c_b.jpg" alt="Maou The Real"></a>

      .maou__content__shots__caption Maou snapping his fingers to project a magic barrier around the area, knocking the civilians unconscious.

    .maou__content__shots
      <a target="_blank" data-flickr-embed="true" href="https://www.flickr.com/photos/62072291@N04/30221393340/in/dateposted-public/" title="Maou Sama"><img class="maou__content__shot maou__content__shot--anime" src="https://c5.staticflickr.com/6/5572/30221393340_fee8128386_b.jpg" alt="Maou Sama"></a>

      <a target="_blank" data-flickr-embed="true" href="https://www.flickr.com/photos/62072291@N04/29889574934/in/dateposted-public/" title="Maou The Real"><img class="maou__content__shot maou__content__shot--real" src="https://c7.staticflickr.com/6/5692/29889574934_3d1c64fb9b_b.jpg" alt="Maou The Real"></a>

      .maou__content__shots__caption Lucifer and Olba in the Sasazuka sky looking down.

    .maou__content__shots
      <a target="_blank" data-flickr-embed="true" href="https://www.flickr.com/photos/62072291@N04/30519526395/in/dateposted-public/" title="Maou Sama"><img class="maou__content__shot maou__content__shot--anime" src="https://c4.staticflickr.com/6/5768/30519526395_dfe649d7ac_b.jpg" alt="Maou Sama"></a>

      <a target="_blank" data-flickr-embed="true" href="https://www.flickr.com/photos/62072291@N04/30403872702/in/dateposted-public/" title="Maou The Real"><img class="maou__content__shot maou__content__shot--real" src="https://c7.staticflickr.com/6/5617/30403872702_ec21d138dd_b.jpg" alt="Maou The Real"></a>

      .maou__content__shots__caption Emilia deflecting Lucifer's attack into Maou's face.

    .maou__content__shots
      <a target="_blank" data-flickr-embed="true" href="https://www.flickr.com/photos/62072291@N04/30221389170/in/dateposted-public/" title="Maou Sama"><img class="maou__content__shot maou__content__shot--anime" src="https://c3.staticflickr.com/6/5755/30221389170_fe6a397450_b.jpg" alt="Maou Sama"></a>

      <a target="_blank" data-flickr-embed="true" href="https://www.flickr.com/photos/62072291@N04/29887472213/in/dateposted-public/" title="Maou The Real"><img class="maou__content__shot maou__content__shot--real" src="https://c6.staticflickr.com/9/8681/29887472213_ec3ae302a6_b.jpg" alt="Maou The Real"></a>

      .maou__content__shots__caption Maou struggling after being hit by Lucifer's attack.

    .maou__content__episode-number Episode 8:
    .maou__content__text In this episode, Emilia and Suzuno take the Keio line to Shinjuku.

    .maou__content__shots
      <a data-flickr-embed="true" href="https://www.flickr.com/photos/62072291@N04/29889784443/in/dateposted-public/" title="Maou Sama"><img class="maou__content__shot maou__content__shot--anime" src="https://c4.staticflickr.com/6/5590/29889784443_4ed4c6a866_b.jpg" alt="Maou Sama"></a>

      <a data-flickr-embed="true" href="https://www.flickr.com/photos/62072291@N04/30522647045/in/dateposted-public/" title="Maou The Real"><img class="maou__content__shot maou__content__shot--real" src="https://c6.staticflickr.com/6/5620/30522647045_44437f229c_b.jpg" alt="Maou The Real"></a>

      .maou__content__shots__caption Emilia and Suzuno meeting at Sasazuka Station.

    .maou__content__shots
      <a data-flickr-embed="true" href="https://www.flickr.com/photos/62072291@N04/29889783383/in/dateposted-public/" title="Maou Sama"><img class="maou__content__shot maou__content__shot--anime" src="https://c8.staticflickr.com/6/5596/29889783383_362bd913a5_b.jpg" alt="Maou Sama"></a>

      <a data-flickr-embed="true" href="https://www.flickr.com/photos/62072291@N04/30522642725/in/dateposted-public/" title="Maou The Real"><img class="maou__content__shot maou__content__shot--real" src="https://c6.staticflickr.com/6/5521/30522642725_7c566f3b03_b.jpg" alt="Maou The Real"></a>

      .maou__content__shots__caption Emilia and Suzuno arguing.
