- @body_classes = :maou

.maou__lines
  .maou__lines__line

.maou__title
  = image_tag 'maou-logo.png', class: 'maou__title__image'
  .maou__title__the-real The Real

.maou__content
  .maou__content__text While in Tokyo, I stayed in Sasazuka, and happened to be rewatching Hataraku Maou-sama. Coincidentally, the show is also set in Sasazuka, so it was a good opportunity to do some anime recreation shots.

  .maou__content__episode-number Episode 8:
  .maou__content__text In this episode, Lucifer reveals himself and fight Maou and company.

  .maou__content__shots
    = image_tag 'http://www.pixhoster.info/f/2016-09/c4552989021a8b5b5487da967d660a60.jpg', class: 'maou__content__shot maou__content__shot--anime'
    = image_tag 'http://www.pixhoster.info/f/2016-09/ab1fe18b6073112001efaa1e09073d48.jpg', class: 'maou__content__shot maou__content__shot--real'

  .maou__content__episode-number Episode 10:
  .maou__content__text In this episode, we meet a new character, and take the Keio line to Shinjuku.
