- @body_classes = :w11

- 20.times do
  .clear
- 2.times do
  .very-light-purple
- 3.times do
  .light-purple
- 9.times do
  .clear
- 4.times do
  .light-purple
- 30.times do
  .clear

- 20.times do
  .clear
- 1.times do
  .light-purple  
- 3.times do
  .faint-purple
- 1.times do
  .navy-purple
- 8.times do
  .clear
- 1.times do
  .light-purple
- 4.times do
  .faint-purple
- 1.times do
  .light-purple
- 14.times do
  .clear
- 6.times do
  .purple
- 9.times do
  .clear

- 20.times do
  .clear
- 1.times do
  .light-purple
- 4.times do
  .faint-purple
- 1.times do
  .light-purple
- 7.times do
  .clear
- 1.times do
  .light-purple
- 3.times do
  .faint-purple
- 1.times do
  .grey-purple
- 1.times do
  .light-purple
- 12.times do
  .clear
- 2.times do
  .purple
- 6.times do
  .bright-purple
- 3.times do
  .purple
- 6.times do
  .clear

- 20.times do
  .clear
- 1.times do
  .light-purple
- 4.times do 
  .faint-purple
- 1.times do
  .navy-purple
- 7.times do
  .clear
- 1.times do
  .light-purple
- 1.times do
  .faint-purple
- 3.times do
  .grey-purple
- 1.times do
  .light-purple
- 11.times do
  .clear
- 1.times do
  .purple
- 2.times do
  .bright-purple
- 2.times do
  .purple
- 2.times do
  .black
- 2.times do
  .purple
- 3.times do
  .bright-purple
- 1.times do
  .purple
- 5.times do
  .clear

- 21.times do
  .clear
- 5.times do
  .faint-purple
- 3.times do
  .light-purple
- 3.times do
  .navy-purple
- 1.times do
  .light-purple
- 2.times do
  .faint-purple
- 2.times do
  .grey-purple
- 1.times do
  .light-purple
- 11.times do
  .clear
- 1.times do
  .purple
- 2.times do
  .bright-purple
- 1.times do
  .purple
- 2.times do
  .black
- 4.times do
  .clear
- 1.times do
  .black
- 1.times do
  .purple
- 2.times do
  .bright-purple
- 1.times do
  .black
- 4.times do
  .clear

- 21.times do
  .clear
- 1.times do
  .light-purple
- 3.times do
  .faint-purple
- 2.times do
  .light-purple
- 1.times do
  .white-purple
- 4.times do
  .faint-purple
- 1.times do
  .light-purple
- 1.times do
  .faint-purple
- 3.times do
  .grey-purple
- 1.times do
  .navy-purple
- 10.times do
  .clear
- 1.times do
  .purple
- 2.times do
  .bright-purple
- 1.times do
  .purple
- 1.times do
  .black
- 8.times do
  .clear
- 1.times do
  .black
- 2.times do
  .purple
- 1.times do
  .black
- 3.times do
  .clear

- 21.times do
  .clear
- 1.times do
  .light-purple
- 2.times do
  .faint-purple
- 1.times do
  .light-purple
- 4.times do
  .white-purple
- 2.times do
  .faint-purple
- 1.times do
  .light-purple
- 2.times do
  .faint-purple
- 3.times do
  .grey-purple
- 1.times do
  .black
- 10.times do
  .clear
- 3.times do
  .bright-purple
- 1.times do
  .black
- 10.times do
  .clear
- 1.times do
  .black
- 1.times do
  .purple
- 1.times do
  .black
- 3.times do
  .clear

- 21.times do
  .clear
- 1.times do
  .light-purple
- 1.times do
  .faint-purple
- 1.times do
  .light-purple
- 5.times do
  .white-purple
- 5.times do
  .faint-purple
- 3.times do
  .grey-purple
- 1.times do
  .black
- 9.times do
  .clear
- 1.times do
  .purple
- 2.times do
  .bright-purple
- 1.times do
  .purple
- 1.times do
  .black
- 10.times do
  .clear
- 1.times do
  .black
- 2.times do
  .purple
- 1.times do
  .black
- 2.times do
  .clear

- 21.times do
  .clear
- 1.times do
  .light-purple
- 1.times do 
  .light-purple
- 6.times do
  .white-purple
- 4.times do
  .faint-purple
- 4.times do
  .grey-purple
- 1.times do
  .black
- 9.times do
  .clear
- 1.times do
  .purple
- 1.times do
  .bright-purple
- 1.times do
  .purple
- 1.times do
  .black
- 12.times do
  .clear
- 1.times do
  .black
- 1.times do
  .purple
- 1.times do
  .black
- 2.times do
  .clear

- 20.times do
  .clear
- 2.times do
  .light-purple
- 1.times do
  .faint-purple
- 5.times do
  .white-purple
- 5.times do
  .faint-purple
- 4.times do
  .grey-purple
- 1.times do
  .black
- 1.times do
  .light-purple
- 8.times do
  .clear
- 1.times do
  .dark-purple
- 1.times do
  .bright-purple
- 1.times do
  .purple
- 1.times do
  .black
- 12.times do
  .clear
- 1.times do
  .black
- 1.times do
  .purple
- 1.times do
  .black
- 2.times do
  .clear

- 20.times do
  .clear
- 2.times do
  .light-purple
- 1.times do
  .white-purple
- 10.times do
  .faint-purple
- 5.times do
  .grey-purple
- 1.times do
  .black
- 7.times do
  .clear
- 3.times do
  .purple
- 1.times do
  .black
- 13.times do
  .clear
- 1.times do
  .black
- 1.times do
  .purple
- 1.times do
  .black
- 2.times do
  .clear

- 20.times do
  .clear
- 1.times do
  .light-purple
- 2.times do
  .white-purple
- 5.times do
  .faint-purple
- 2.times do
  .white-purple
- 1.times do
  .faint-purple
- 2.times do
  .light-purple
- 5.times do
  .grey-purple
- 1.times do
  .black
- 1.times do
  .navy-purple
- 6.times do
  .clear
- 1.times do
  .dark-purple
- 2.times do
  .purple
- 1.times do
  .black
- 13.times do
  .clear
- 1.times do
  .black
- 2.times do
  .purple
- 1.times do
  .black
- 1.times do
  .clear

- 20.times do
  .clear
- 1.times do
  .navy-purple
- 2.times do
  .white-purple
- 4.times do
  .faint-purple
- 3.times do
  .white-purple
- 1.times do
  .navy-purple
- 1.times do
  .faint-purple
- 1.times do
  .light-purple
- 5.times do
  .grey-purple
- 1.times do
  .black
- 1.times do
  .grey-purple
- 1.times do
  .navy-purple
- 5.times do
  .clear
- 1.times do
  .dark-purple
- 2.times do
  .purple
- 1.times do
  .black
- 12.times do
  .clear
- 1.times do
  .black
- 3.times do
  .purple
- 1.times do
  .black
- 1.times do
  .clear

- 20.times do
  .clear
- 1.times do
  .navy-purple
- 1.times do
  .white-purple
- 1.times do
  .grey-purple
- 2.times do
  .faint-purple
- 1.times do
  .grey-purple
- 2.times do
  .white-purple
- 1.times do
  .faint-purple
- 1.times do
  .navy-purple
- 3.times do
  .white
- 5.times do
  .grey-purple
- 1.times do
  .navy-purple
- 1.times do
  .light-purple
- 1.times do
  .grey-purple
- 1.times do
  .navy-purple
- 4.times do
  .clear
- 1.times do
  .dark-purple
- 2.times do
  .purple
- 1.times do
  .black
- 12.times do
  .clear
- 1.times do
  .black
- 3.times do
  .purple
- 1.times do
  .black
- 1.times do
  .clear

- 20.times do
  .clear
- 1.times do
  .navy-purple
- 1.times do
  .grey-purple
- 1.times do
  .light-purple
- 2.times do
  .faint-purple
- 1.times do
  .light-purple
- 2.times do
  .faint-purple
- 1.times do
  .black
- 1.times do
  .navy-purple
- 1.times do
  .bright-purple
- 2.times do
  .white
- 5.times do
  .grey-purple
- 1.times do
  .navy-purple
- 2.times do
  .light-purple
- 1.times do
  .navy-purple
- 4.times do
  .clear
- 1.times do
  .dark-purple
- 2.times do
  .purple
- 1.times do
  .black
- 12.times do
  .clear
- 1.times do
  .black
- 4.times do
  .purple
- 1.times do
  .black

- 21.times do
  .clear
- 1.times do
  .navy-purple
- 2.times do
  .grey-purple
- 1.times do
  .faint-purple
- 1.times do
  .grey-purple
- 1.times do
  .faint-purple
- 1.times do 
  .light-purple
- 1.times do
  .black
- 1.times do
  .bright-purple
- 1.times do
  .light-purple
- 2.times do
  .faint-purple
- 4.times do
  .grey-purple
- 1.times do
  .navy-purple
- 1.times do
  .black
- 2.times do
  .light-purple
- 1.times do
  .grey-purple
- 1.times do
  .light-purple
- 3.times do
  .clear
- 1.times do
  .dark-purple
- 3.times do
  .purple
- 1.times do
  .black
- 11.times do
  .clear
- 1.times do
  .black
- 4.times do
  .purple
- 1.times do
  .black

- 21.times do
  .clear
- 1.times do
  .navy-purple
- 1.times do
  .light-purple
- 4.times do
  .faint-purple
- 9.times do
  .grey-purple
- 1.times do
  .light-purple
- 1.times do
  .navy-purple
- 1.times do
  .clear
- 1.times do
  .black
- 2.times do
  .light-purple
- 1.times do
  .navy-purple
- 3.times do
  .clear
- 1.times do
  .dark-purple
- 3.times do
  .purple
- 1.times do
  .black
- 10.times do
  .clear
- 1.times do
  .black
- 5.times do
  .purple
- 1.times do
  .black

- 22.times do
  .clear
- 1.times do
  .black
- 2.times do
  .faint-purple
- 9.times do
  .grey-purple
- 3.times do
  .navy-purple
- 2.times do
  .clear
- 1.times do
  .black
- 2.times do
  .light-purple
- 1.times do
  .black
- 4.times do
  .clear
- 1.times do
  .dark-purple
- 2.times do
  .purple
- 1.times do
  .black
- 10.times do
  .clear
- 1.times do
  .black
- 5.times do
  .purple
- 1.times do
  .black

- 22.times do
  .clear
- 1.times do
  .black
- 3.times do
  .grey-purple
- 1.times do
  .light-purple
- 1.times do
  .grey-purple
- 3.times do
  .light-purple
- 2.times do
  .navy-purple
- 2.times do
  .grey-purple
- 1.times do
  .black
- 2.times do
  .clear
- 1.times do
  .black
- 2.times do
  .light-purple
- 1.times do
  .black
- 5.times do
  .clear
- 1.times do
  .dark-purple
- 3.times do
  .purple
- 1.times do
  .black
- 9.times do
  .clear
- 1.times do
  .black
- 5.times do
  .purple
- 1.times do
  .black

- 22.times do
  .clear
- 1.times do
  .light-purple
- 1.times do
  .black
- 3.times do
  .light-purple
- 1.times do
  .black
- 3.times do
  .navy-purple
- 3.times do
  .light-purple
- 1.times do
  .black
- 2.times do
  .clear
- 1.times do
  .black
- 3.times do
  .light-purple
- 1.times do
  .black
- 5.times do
  .clear
- 1.times do
  .dark-purple
- 3.times do
  .purple
- 1.times do
  .black
- 9.times do
  .clear
- 1.times do
  .black
- 4.times do
  .purple
- 1.times do
  .black
- 1.times do
  .clear

- 24.times do
  .clear
- 2.times do
  .black
- 1.times do
  .navy-purple
- 1.times do
  .black
- 2.times do
  .clear
- 1.times do
  .navy-purple
- 3.times do
  .light-purple
- 1.times do
  .black
- 1.times do
  .clear
- 3.times do
  .black
- 1.times do
  .light-purple
- 1.times do
  .black
- 7.times do
  .clear
- 1.times do
  .dark-purple
- 3.times do
  .purple
- 1.times do
  .black
- 7.times do
  .clear
- 1.times do
  .black
- 5.times do
  .purple
- 1.times do
  .black
- 1.times do
  .clear

- 25.times do
  .clear
- 2.times do
  .light-purple
- 3.times do
  .navy-purple
- 1.times do
  .light-purple
- 1.times do
  .grey-purple
- 2.times do
  .light-purple
- 2.times do
  .black
- 3.times do
  .grey-purple
- 2.times do
  .black
- 7.times do
  .clear
- 1.times do
  .dark-purple
- 3.times do
  .purple
- 1.times do
  .black
- 7.times do
  .clear
- 1.times do
  .black
- 5.times do
  .purple
- 1.times do
  .black
- 1.times do
  .clear

- 24.times do
  .clear
- 1.times do
  .light-purple
- 3.times do
  .faint-purple
- 3.times do
  .light-purple
- 1.times do
  .grey-purple
- 2.times do
  .faint-purple
- 4.times do
  .grey-purple
- 2.times do
  .light-purple
- 1.times do
  .black
- 8.times do
  .clear
- 1.times do
  .dark-purple
- 3.times do
  .purple
- 1.times do
  .black
- 6.times do
  .clear
- 1.times do
  .black
- 4.times do
  .purple
- 1.times do
  .black
- 2.times do
  .clear

- 23.times do
  .clear
- 1.times do
  .light-purple
- 10.times do
  .faint-purple
- 2.times do
  .grey-purple
- 1.times do
  .navy-purple
- 2.times do
  .black
- 1.times do
  .light-purple
- 1.times do
  .black
- 8.times do
  .clear
- 1.times do
  .dark-purple
- 3.times do
  .purple
- 1.times do
  .black
- 6.times do
  .clear
- 1.times do
  .black
- 4.times do
  .purple
- 1.times do
  .black
- 2.times do
  .clear

- 22.times do
  .clear
- 2.times do
  .navy-purple
- 4.times do
  .faint-purple
- 1.times do
  .grey-purple
- 5.times do
  .faint-purple
- 1.times do
  .grey-purple
- 1.times do
  .navy-purple
- 3.times do
  .light-purple
- 2.times do
  .black
- 8.times do
  .clear
- 1.times do
  .dark-purple
- 4.times do
  .purple
- 1.times do
  .black
- 6.times do
  .clear
- 1.times do
  .black
- 2.times do
  .purple
- 1.times do
  .black
- 3.times do
  .clear

- 20.times do
  .clear
- 2.times do
  .black
- 1.times do
  .light-purple
- 1.times do
  .navy-purple
- 3.times do
  .faint-purple
- 1.times do
  .grey-purple
- 5.times do
  .faint-purple
- 1.times do
  .grey-purple
- 1.times do
  .navy-purple
- 5.times do
  .light-purple
- 1.times do
  .faint-purple
- 1.times do
  .black
- 1.times do
  .light-purple
- 7.times do
  .clear
- 1.times do
  .dark-purple
- 3.times do
  .purple
- 1.times do
  .black
- 7.times do
  .clear
- 2.times do
  .black
- 4.times do
  .clear

- 18.times do
  .clear
- 1.times do
  .light-purple
- 1.times do
  .black
- 2.times do
  .grey-purple
- 1.times do
  .light-purple
- 1.times do
  .navy-purple
- 2.times do
  .faint-purple
- 1.times do
  .grey-purple
- 1.times do
  .faint-purple
- 1.times do
  .grey-purple
- 4.times do
  .faint-purple
- 1.times do
  .grey-purple
- 1.times do
  .navy-purple
- 1.times do
  .light-purple
- 1.times do
  .navy-purple
- 3.times do
  .light-purple
- 2.times do
  .faint-purple
- 2.times do
  .black
- 6.times do
  .clear
- 1.times do
  .dark-purple
- 4.times do
  .purple
- 1.times do
  .black
- 12.times do
  .clear

- 16.times do
  .clear
- 1.times do
  .light-purple
- 1.times do
  .black
- 2.times do
  .faint-purple
- 1.times do
  .grey-purple
- 2.times do
  .light-purple
- 1.times do
  .navy-purple
- 2.times do
  .faint-purple
- 1.times do
  .light-purple
- 1.times do
  .faint-purple
- 1.times do
  .light-purple
- 2.times do
  .faint-purple
- 2.times do
  .grey-purple
- 1.times do
  .black
- 1.times do
  .light-purple
- 4.times do
  .navy-purple
- 1.times do
  .light-purple
- 4.times do
  .faint-purple
- 3.times do
  .black
- 3.times do
  .clear
- 1.times do
  .dark-purple
- 2.times do
  .black
- 2.times do
  .purple
- 1.times do
  .black
- 12.times do
  .clear

- 5.times do
  .clear
- 1.times do
  .light-purple
- 2.times do
  .navy-purple
- 4.times do
  .clear
- 2.times do
  .light-purple
- 2.times do
  .navy-purple
- 3.times do
  .faint-purple
- 2.times do
  .grey-purple
- 2.times do
  .navy-purple
- 1.times do
  .clear
- 1.times do
  .navy-purple
- 1.times do
  .faint-purple
- 1.times do
  .light-purple
- 1.times do
  .grey-purple
- 1.times do
  .light-purple
- 3.times do
  .grey-purple
- 1.times do
  .light-purple
- 1.times do
  .black
- 1.times do
  .light-purple
- 1.times do
  .black
- 3.times do
  .clear
- 3.times do
  .black
- 5.times do
  .faint-purple
- 1.times do
  .black
- 1.times do
  .clear
- 1.times do
  .navy-purple
- 2.times do
  .faint-purple
- 1.times do
  .grey-purple
- 1.times do
  .black
- 1.times do
  .purple
- 1.times do
  .black
- 12.times do
  .clear

- 3.times do
  .clear
- 2.times do
  .light-purple
- 3.times do
  .grey-purple
- 1.times do
  .light-purple
- 3.times do
  .navy-purple
- 6.times do
  .faint-purple
- 3.times do
  .navy-purple
- 4.times do
  .clear
- 1.times do
  .navy-purple
- 3.times do
  .light-purple
- 4.times do
  .navy-purple
- 1.times do
  .light-purple
- 1.times do
  .black
- 7.times do
  .clear
- 1.times do
  .black
- 5.times do
  .faint-purple
- 2.times do
  .navy-purple
- 3.times do
  .faint-purple
- 1.times do
  .navy-purple
- 1.times do
  .purple
- 1.times do
  .black
- 12.times do
  .clear

- 1.times do
  .clear
- 1.times do
  .light-purple
- 3.times do
  .navy-purple
- 1.times do
  .light-purple
- 9.times do
  .faint-purple
- 1.times do
  .grey-purple
- 1.times do
  .black
- 2.times do
  .navy-purple
- 6.times do
  .clear
- 1.times do
  .black
- 4.times do
  .grey-purple
- 4.times do
  .light-purple
- 1.times do
  .black
- 6.times do
  .clear
- 2.times do
  .navy-purple
- 1.times do
  .black
- 2.times do
  .faint-purple
- 2.times do
  .navy-purple
- 3.times do
  .grey-purple
- 1.times do
  .faint-purple
- 1.times do
  .grey-purple
- 1.times do
  .navy-purple
- 1.times do
  .purple
- 1.times do
  .black
- 12.times do
  .clear

- 1.times do
  .light-purple
- 2.times do
  .faint-purple
- 1.times do
  .grey-purple
- 8.times do
  .faint-purple
- 1.times do
  .grey-purple
- 1.times do
  .black
- 1.times do
  .navy-purple
- 1.times do
  .black
- 9.times do
  .clear
- 1.times do
  .black
- 2.times do
  .faint-purple
- 1.times do
  .grey-purple
- 4.times do
  .light-purple
- 1.times do
  .black
- 6.times do
  .clear
- 1.times do
  .light-purple
- 2.times do
  .faint-purple
- 1.times do
  .grey-purple
- 2.times do
  .navy-purple
- 4.times do
  .grey-purple
- 3.times do
  .light-purple
- 1.times do
  .black
- 1.times do
  .purple
- 1.times do
  .black
- 12.times do
  .clear

- 1.times do
  .navy-purple
- 1.times do
  .grey-purple
- 2.times do
  .faint-purple
- 1.times do
  .light-purple
- 1.times do
  .navy-purple
- 6.times do
  .faint-purple
- 1.times do
  .black
- 11.times do
  .clear
- 1.times do
  .black
- 1.times do
  .grey-purple
- 2.times do
  .faint-purple
- 1.times do
  .grey-purple
- 5.times do
  .light-purple
- 1.times do
  .black
- 5.times do
  .clear
- 1.times do
  .navy-purple
- 3.times do
  .faint-purple
- 4.times do
  .grey-purple
- 2.times do
  .light-purple
- 3.times do
  .navy-purple
- 2.times do
  .purple
- 1.times do
  .black
- 12.times do
  .clear

- 1.times do
  .navy-purple
- 3.times do
  .grey-purple
- 1.times do
  .navy-purple
- 1.times do
  .light-purple
- 1.times do
  .navy-purple
- 1.times do
  .light-purple
- 2.times do
  .faint-purple
- 1.times do
  .grey-purple
- 1.times do
  .black
- 12.times do
  .clear
- 1.times do
  .black
- 1.times do
  .grey-purple
- 3.times do
  .purple
- 1.times do
  .grey-purple
- 5.times do
  .light-purple
- 1.times do
  .black
- 4.times do
  .clear
- 1.times do
  .navy-purple
- 3.times do
  .faint-purple
- 2.times do
  .grey-purple
- 5.times do
  .light-purple
- 1.times do
  .navy-purple
- 3.times do
  .purple
- 1.times do
  .black
- 12.times do
  .clear

- 1.times do
  .clear
- 3.times do
  .navy-purple
- 1.times do
  .clear
- 2.times do
  .navy-purple
- 1.times do
  .faint-purple
- 2.times do
  .grey-purple
- 1.times do
  .light-purple
- 1.times do
  .black
- 10.times do
  .clear
- 2.times do
  .navy-purple
- 1.times do
  .black
- 1.times do
  .purple
- 3.times do
  .bright-purple
- 1.times do
  .purple
- 1.times do
  .grey-purple
- 2.times do
  .light-purple
- 2.times do
  .navy-purple
- 1.times do
  .grey-purple
- 1.times do
  .light-purple
- 1.times do
  .black
- 2.times do
  .clear
- 1.times do
  .black
- 2.times do
  .grey-purple
- 1.times do
  .light-purple
- 2.times do
  .black
- 5.times do
  .light-purple
- 1.times do
  .navy-purple
- 3.times do
  .purple
- 1.times do
  .black
- 12.times do
  .clear

- @colorsArray.each do |color|
  %div{class: color}
































