.w2.page-section-wrapper
  .page-section
    .title-section
      %h1 This is the Website of Chester Law!!
      .image

    .nav-section
      = link_to :Links
      = link_to :More
      = link_to :Stuff
      = link_to :Final

    .content-section
      %h2 Some Header 2 that goes 2 lines long.



