- @html_class = :w3

.page-section
  .title-section
    %h1 Chester Law

  .content-section
    %p Stuff that I write will go here in this section. Stuff that I write will go here in this section. Stuff that I write will go here in this section. Stuff that I write will go here in this section. Stuff that I write will go here in this section. Stuff that I write will go here in this section.