- @html_class = :w4

.page-section
  .red-section
    %h1 CL

  .white-section
    %h2 I am Chester Law. The Great.
    %h3 I will rule the world someday. Prepare to bow to me.

  .red-section
    %ul
      %li God
      %li King
      %li Ruler
      %li Savior
