.a-fighters__back {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 0.5em;
  margin-left: 0.5em;
  font-weight: 800;
  color: black;
  &:hover { color: $red; }
}

.a-fighters__content {
  margin: 0 auto;
  height: 100%;
  width: 900px;
  position: relative;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.a-fighters__logo {
  margin: 0 auto;
  display: block;
  padding: 1.7rem 0 0.5rem;
  text-align: center;
}

.a-fighters__logo__subtitle {
  font-family: "Toppan Bunkyu Midashi Mincho";
  font-weight: 800;
  font-size: 3rem;
  line-height: 1;
  margin-bottom: 0.3rem;
  text-align: left;
  margin-left: 7.2rem;
}

.a-fighters__logo__title {
  border: 14px solid black;
  line-height: 1;
  display: inline-block;
  padding: 0 0.8rem;
  font-size: 8rem;
  border-radius: 28px;
  font-family: 'HelveticaNeue-CondensedBold', 'Helvetica Neue', 'Helvetica', sans-serif;
  margin-bottom: 1.2rem;
}

.a-fighters__page {
  margin-bottom: 1.5rem;
  width: 100%;

  &:last-child {
    margin-bottom: 6rem;
  }
}

.a-fighters__text {
  font-size: 1.2rem;
  font-weight: 500;
  padding: 0.5em 3em;
  line-height: 1.7;
  text-indent: 2rem;
}

.a-fighters__text.chinese {
  font-family: "Hiragino Sans GB", "STHeiti", sans-serif;
  font-weight: 800;
  text-indent: 0;
}
