.color-chooser {
  .color-chooser__color-choice {
    width: 100px;
    height: 100px;
    background: white;
  }

  .color-chooser__color-choice--red {
    background: red;
  }

  .color-chooser__color-choice--green {
    background: green;
  }

  .color-chooser__color-choice--blue {
    background: blue;
  }
}
