.content {
  width: 50%;
  float: left;
  display: block;

  .custom-color, .custom-background {
    transition: all 0.2s ease-in;
  }

  .custom-background {
    color: white;
    background: #111;
  }
}

.color-chooser {
  width: 50%;
  float: left;

  .color-chooser__color-choice {
    width: 100px;
    height: 100px;
    display: inline-block;
    float: left;
  }

  .color-chooser__color-choice--red {
    background: red;
  }

  .color-chooser__color-choice--green {
    background: green;
  }

  .color-chooser__color-choice--blue {
    background: blue;
  }
}
