$maou__turquoise: #00ada9;
$maou__pink: #ff06a2;
$maou__orange: #ffb12c;
$maou__purple: #cf4eff;
$maou__blue: #018fcc;
$maou__yellow: #fff600;

.maou {
  height: 100%;
}

.maou__lines {
  width: 100%;
  overflow: hidden;
  position: absolute;
  height: 100%;
  z-index: -1;
}

.maou__lines__line {
  border-style: solid;
  border-width: 252px 2523px 0 0;
  border-color: $maou__blue transparent transparent transparent;
  position: absolute;
  transform: rotateX(100deg);
  z-index: -1;
}

.maou__title {
  max-width: 1000px;
  width: 98%;
  margin: 0 auto;
}

.maou__title__image {
  width: 60%;
}

.maou__title__the-real {
  display: inline-block;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 4.5rem;
  line-height: 1;
  color: white;
  -webkit-text-stroke: 2px black;
  text-shadow: 0 0 5px black;
  width: 40%;
  float: right;
  margin-top: 2.5rem;
  padding-left: 1rem;
}

.maou__content {
  max-width: 850px;
  width: 98%;
  margin: 1rem auto;
  padding: 1.5rem;
  border: 2px solid $maou__purple;
  border-radius: 5px;
  overflow: hidden;
  background: white;
}

.maou__content__text {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.maou__content__episode-number {
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 2rem;
  color: $maou__blue
}

.maou__content__shots {
  overflow: hidden;
}

.maou__content__shot {
  width: 50%;
  display: inline-block;
  float: left;
}

.maou__content__shot--anime {
  padding-right: 0.5rem;
}

.maou__content__shot--real {
  padding-left: 0.5rem;
}
