$shirobako__picture-gap: 1%;
$shirobako__yellow: #fec32d;
$shirobako__pink: #dd3188;
$shirobako__purple: #6b437c;
$shirobako__blue: #4076ab;
$shirobako__light-blue: #2f86bc;
$shirobako__green: #90b643;
$shirobako__orange: #ed3111;
$shirobako__semicircle-diameter: 800px;
$shirobako__semicircle-visible-ratio: 0.15;

.shirobako {
  border-top: 5px solid $shirobako__pink;
  border-bottom: 150px solid $shirobako__yellow;
}

.shirobako__title {
  overflow: hidden;
  margin: 0 auto;
  padding-top: 1.5rem;
  max-width: 800px;
  width: 95%;

  img {
    float: left;
    width: 50%;
  }

  .shirobako__title__shirobako {
    width: 51%;
  }

  .shirobako__title__the-real {
    width: 49%;
  }
}

.shirobako__content {
  position: relative;

  @media only screen and (max-width: 740px) {
    overflow: hidden;
  }
}

.shirobako__content__character {
  position: absolute;

  @media only screen and (max-width: 1045px) {
    display: none;
  }
}

.shirobako__content__character--aoi {
  height: 300px;
  top: -190px;
  left: 100px;
}

.shirobako__content__character--ema {
  top: -193px;
  right: 100px;
}

.shirobako__content__character--aoi {

}

.shirobako__content__episode-section-wrapper {
  background: $shirobako__light-blue;
  margin-top: $shirobako__semicircle-diameter*$shirobako__semicircle-visible-ratio + 30px;
  margin-bottom: 12rem;
}

.shirobako__content__episode-section {
  width: 95%;
  max-width: 1800px;
  margin: 0 auto;
  position: relative;
}

.shirobako__content__episode-section__semicircle {
  background: $shirobako__light-blue;
  width: $shirobako__semicircle-diameter;
  height: $shirobako__semicircle-diameter;
  border-radius: 50%;
  position: absolute;
  z-index: -1;
  top: -$shirobako__semicircle-diameter*$shirobako__semicircle-visible-ratio;
  left: 50%;
  margin-left: -$shirobako__semicircle-diameter/2;
}

.shirobako__content__episode-intro {
  position: relative;
  bottom: 2rem;

}

.shirobako__content__episode-intro__number {
  font-size: 2.8rem;
  color: white;
  font-weight: 800;
  text-align: center;
}

.shirobako__content__episode-intro__summary {
  font-size: 1.3rem;
  padding-bottom: 1rem;
  color: white;
  text-align: center;
  max-width: $shirobako__semicircle-diameter;
  margin: 0 auto;
}

.shirobako__content__shots {
  overflow: hidden;
}

.shirobako__content__shots__link {
  width: 50%;
  float: left;
}

.shirobako__content__shots__link--anime {
  padding-right: $shirobako__picture-gap/2;
}

.shirobako__content__shots__link--real {
  padding-left: $shirobako__picture-gap/2;
}

.shirobako__content__shot {
  float: left;
  width: 100%;
  border: 8px solid;
  border-radius: 10px;
}

.shirobako__content__shots:nth-of-type(3n-1) {
  .shirobako__content__shot--anime {
    border-color: $shirobako__yellow;
  }
  .shirobako__content__shot--real {
    border-color: $shirobako__pink;
  }
}

.shirobako__content__shots:nth-of-type(3n) {
  .shirobako__content__shot--anime {
    border-color: $shirobako__purple;
  }
  .shirobako__content__shot--real {
    border-color: $shirobako__blue;
  }
}

.shirobako__content__shots:nth-of-type(3n+1) {
  .shirobako__content__shot--anime {
    border-color: $shirobako__green;
  }
  .shirobako__content__shot--real {
    border-color: $shirobako__orange;
  }
}

span:nth-of-type(3n) {
  border: 3px solid red;
  overflow: hidden;
}

.shirobako__content__shots__caption {
  font-size: 1.1rem;
  float: left;
  margin-top: 0.8rem;
  margin-bottom: 2rem;
  color: white;
}
