$shirobako__picture-gap: 1rem;
$shirobako__yellow: #dd9811;
$shirobako__pink: #dd3188;
$shirobako__purple: #6b437c;
$shirobako__blue: #4076ab;
$shirobako__green: #90b643;
$shirobako__orange: #ed3111;

.shirobako__wrapper {
  width: 98.5%;
  max-width: 1800px;
  margin: 0 auto;
}

.shirobako__title {
  overflow: hidden;
  margin: 1.5rem auto 0;
  max-width: 800px;

  img {
    float: left;
    width: 50%;
  }
}

.shirobako__spoiler-warning {
  color: #F50000;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  margin-top: 1.2rem;
  font-size: 1.3rem;
}

.shirobako__content__episode-number {
  font-size: 2.3rem;
  color: $shirobako__orange;
  font-weight: 800;
  margin-top: 2rem;
}

.shirobako__content__episode-summary {
  font-size: 1.2rem;
  padding-bottom: 1rem;
}

.shirobako__content__shots {
  overflow: hidden;
}

.shirobako__content__shots__link {
  width: 50%;
  float: left;
}

.shirobako__content__shots__link--anime {
  padding-right: $shirobako__picture-gap/2;
}

.shirobako__content__shots__link--real {
  padding-left: $shirobako__picture-gap/2;
}

.shirobako__content__shot {
  float: left;
  width: 100%;
}

.shirobako__content__shot {
  border: 8px solid;
}

.shirobako__content__shots:nth-of-type(3n-1) {
  .shirobako__content__shot--anime {
    border-color: $shirobako__yellow;
  }
  .shirobako__content__shot--real {
    border-color: $shirobako__pink;
  }
}

.shirobako__content__shots:nth-of-type(3n) {
  .shirobako__content__shot--anime {
    border-color: $shirobako__purple;
  }
  .shirobako__content__shot--real {
    border-color: $shirobako__blue;
  }
}

.shirobako__content__shots:nth-of-type(3n+1) {
  .shirobako__content__shot--anime {
    border-color: $shirobako__green;
  }
  .shirobako__content__shot--real {
    border-color: $shirobako__orange;
  }
}

span:nth-of-type(3n) {
  border: 3px solid red;
  overflow: hidden;
}

.shirobako__content__shots__caption {
  font-size: 1.2rem;
  padding: 1rem 0;
  float: left;
}
