.character-design {
  margin-bottom: 1rem;
  border: 1px solid black;
  background: white;
  border-radius: 5px;
  overflow: hidden;
}

.character-design__drawings {
  background: white;
  overflow: auto;
  margin: 0 auto;
  display: block;
  padding: 1.2rem 1rem;
}

.character-design__drawing {
  width: 33.3333%;
  float: left;
}

.character-design__drawing--side {
  padding-right: 0rem;
}

.character-design__drawing--angle {
  padding-left: 1.3rem;
}

.character-design__drawing--front {
  padding-left: 2rem;
}

.character-design__caption {
  text-align: center;
  padding-bottom: 0.5rem;
  font-weight: 500;
  font-family: "Hiragino Maru Gothic ProN", "Avenir", $default-font-family;
}
