.character-design {
  margin-bottom: 1rem;
  background: black;
  overflow: hidden;
  padding: 0.8rem;
}

.character-design__title {
  color: white;
  font-family: "Avenir", $default-font-family;
  font-size: 1.5rem;
  font-weight: 800;
  border-top: 1px solid white;
  padding: 0.25rem 0;
}

.character-design__english-name {
  background: white;
  font-family: "Avenir", $default-font-family;
  font-weight: 800;
  padding-left: 0.4rem;
  padding-top: 0.4rem;
  font-size: 1.1rem;
}

.character-design__chinese-name {
  background: white;
  font-family: "Hiragino Maru Gothic ProN", "Avenir", $default-font-family;
  font-size: 0.9rem;
  font-weight: 300;
  padding-left: 0.4rem;
  line-height: 1rem;
}

.character-design__drawings {
  background: white;
  overflow: auto;
  margin: 0 auto;
  display: block;
  padding: 0 1rem 1rem;
}

.character-design__drawing {
  width: 33.3333%;
  float: left;
}

.character-design__drawing--side {
  padding-right: 0rem;
}

.character-design__drawing--angle {
  padding-left: 1.3rem;
}

.character-design__drawing--front {
  padding-left: 2rem;
}

.character-design__caption {
  text-align: center;
  padding-bottom: 0.5rem;
  font-weight: 500;
  font-family: "Hiragino Maru Gothic ProN", "Avenir", $default-font-family;
}
