.character-design {
  margin-bottom: 1rem;
  border: 1px solid black;
  background: white;
  border-radius: 5px;
  overflow: hidden;
}

.character-design__drawings {
  background: white;
  overflow: auto;
  margin: 0 auto;
  display: block;
  padding: 1.2rem 1rem;
}

.character-design__drawing {
  width: 33%;
  margin: 0;
  padding: 0;
  float: left;
}

.character-design__drawing--side {
  padding: 0 0.5rem;
}

.character-design__drawing--angle {
  padding: 0 1.1rem;
}

.character-design__drawing--front {
  padding: 0 1.25rem;
}
