.merge-title {
  $red: #D80000;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

  .merge-title__title {
    position: relative;
    margin-left: 0.1em;
    color: $red;
    font-size: 6em;
    -webkit-text-stroke: 3px black;
    line-height: 1; //magic number
    position: relative;
    top: 0.16em; //magic number
    font-weight: 800;

    &::after {
      content: "Chester Law";
      position: absolute;
      top: 0;
      left: 0;
      -webkit-text-stroke: 0;
      z-index: 2;
    }
  }

  .merge-title__content {
    background: $red;
    padding: 1em;
    border-radius: 3px;
    border: 1px solid black;
    position: relative;
    z-index: 1;
    font-size: 1.2em;
    color: #ffd64f;
    font-weight: 300;
  }
}