.page--1 {
  $space-between-elements: 4.5rem;
  $chinese-title-width: 180px;

  width: 97%;
  max-width: 1000px;
  margin: 0 auto;
  overflow: hidden;
  padding-top: $space-between-elements;
  display: flex;

  .page--1__chinese-title {
    width: $chinese-title-width;

    h1 {
      color: black;
      line-height: 1.05;
      font-size: 9rem;
      text-align: center;
      font-family: "Hiragino Sans GB", "STHeiti", sans-serif;
      font-weight: 800;
      @media only screen and (max-width: 1000px) {
        font-size: 14vw;
      }

      &:last-child {
        position: relative;
        bottom: 0.62em;
        left: 0.7em;
      }
    }
  }

  .page--1__content {
    padding-left: $space-between-elements/2;
  }

  .page--1__english-title {
    font-size: 4rem;
    font-weight: 800;
    line-height: 1;
    padding-bottom: $space-between-elements/3;
  }
}