.index-new {
  margin: 0 auto;
  width: 1000px;
  position: relative;
  padding-right: 18.5rem;
}

.chinese-title {
  transform: rotate(4.5deg);
  overflow: hidden;
  margin: 0 auto;
  padding-top: 2em;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;

  .title {
    float: right;

    h1, h2, h3 {
      line-height: 1;
      text-align: center;
      color: black;
      text-shadow: 0 0 1px black;
    }

    h1 { font-size: 6rem; }
    h2 {font-size: 3rem; }
    h3 {font-size: 2rem; }

    &.period-ender {
      :last-child {
        position: relative;
        bottom: 0.5em;
        left: 0.55em;
      }
    }

    &.comma-ender {
      :last-child {
        position: relative;
        bottom: 0.55em;
      }
    }

    &.quoter {
      :first-child {
        transform: rotate(90deg);
        margin-top: -0.6em;
      }

      :nth-child(7) {
        transform: rotate(90deg);
        margin-bottom: -0.45em;
      }
    }

    &.many-commas {
      :nth-child(5), :nth-child(11) {
        margin-top: -0.4em;
        margin-bottom: 0.28em;
      }
    }
  }
}

.red-white-block {
  $main: #D80000;
  padding-top: 1rem;

  .red-section {
    background: $main;
    border-radius: 3px;

    h1 {
      color: white;
      font-size: 8em;
      text-transform: uppercase;
      text-align: center;
      padding: 0.3em 1em;
    }

    ul {
      color: white;
      text-transform: uppercase;
      font-weight: 800;
      font-size: 2em;
      padding: 1em 1.65em;
      list-style-type: square;
    }
  }

  .white-section {
    h2 {
      color: $main;
      text-transform: uppercase;
      font-size: 2.9em;
      line-height: 1.7;
      text-align: center;
    }

    h3 {
      color: $main;
      font-size: 1.45em;
      text-transform: uppercase;
      line-height: 0.5;
      margin-bottom: -0.4em;
      text-align: center;
    }
  }
}

.riyarchy-label {
  $red: #BB0000;
  $border-width: 2px;
  $border-radius: 2px;
  width: 350px;
  border-radius: $border-radius;
  overflow: hidden;
  border: $border-width+2 solid $red;
  box-shadow: 0 0 1px $red, 0 0 1px $red;
  margin: 0 auto;

  .header-section {
    text-align: center;
    background: $red;

    .header {
      display: inline-block;
      padding-top: 0.2rem;

      img {
        width: 1.8rem;
        float: left;
        opacity: 0.85;
      }

      h1 {
        margin-left: 0.5rem;
        display: inline-block;
        font-size: 2rem;
        line-height: 1;
        color: black;
        float: left;
        text-transform: uppercase;
        font-family: "Avenir-Medium", "Century Gothic", "Helvetica Neue", Helvetica, Arial, sans-serif;
        text-shadow: 0 0 0.1px black;
      }
    }
  }

  .level {
    border-bottom: $border-width solid $red;
    overflow: hidden;
    color: $red;
    text-align: center;

    &:last-child {
      border-bottom: 0;
    }

    p {
      font-size: 0.6rem;
      text-shadow: 0 0 0.3px $red;
    }

    &.flex {
      display: flex;
      align-items: stretch;
    }

    .section-wrapper {
      float: left;
      background: black;
      display: flex;
      align-items: stretch;

      &:first-child { border-right: $border-width solid $red;}

      &.percent-50 {
        text-align: left;
      }

      &.percent-25 {
        text-align: left;
      }

      &.percent-100 {
        width: 100%;

        .section {
          width: 100%;
        }
      }

      .section {
        padding: 0.5rem;
        border-radius: $border-radius;
        box-shadow: 0 0 2px $red, 0 0 2px $red, 0 0 2px $red, 0 0 2px $red, 0 0 2px $red, 0 0 2px $red, 0 0 2px $red, 0 0 2px $red, 0 0 2px $red, 0 0 2px $red, 0 0 2px $red, 0 0 2px $red, 0 0 2px $red, 0 0 2px $red, 0 0 2px $red, 0 0 2px $red, 0 0 2px $red, 0 0 2px $red, 0 0 2px $red, 0 0 2px $red, 0 0 2px $red, 0 0 2px $red, 0 0 2px $red, 0 0 2px $red, 0 0 2px $red, 0 0 2px $red, 0 0 2px $red, 0 0 2px $red, 0 0 2px $red, 0 0 2px $red, 0 0 2px $red, 0 0 2px $red, 0 0 2px $red, 0 0 2px $red, 0 0 2px $red, 0 0 2px $red, 0 0 2px $red, 0 0 2px $red, 0 0 2px $red, 0 0 2px $red, 0 0 2px $red, 0 0 2px $red, 0 0 2px $red, 0 0 2px $red, 0 0 2px $red, 0 0 2px $red, 0 0 2px $red, 0 0 2px $red, 0 0 2px $red, 0 0 2px $red, 0 0 2px $red;
      }
    }
  }
}
