.index-new {
  .centered-block {
    margin: 0 auto;
    width: 1000px;
    position: relative;
    padding-right: 18.5rem;
  }

  .chinese-title {
    position: absolute;
    right: 0;
  }

  .mewtwo {
    margin-top: 2rem;
  }
}
