$riyarchy-label__red: #BB0000;
$riyarchy-label__border-width: 2px;
$riyarchy-label__border-radius: 2px;

.riyarchy-label {
  width: 350px;
  border-radius: $riyarchy-label__border-radius;
  overflow: hidden;
  border: $riyarchy-label__border-width+2 solid $riyarchy-label__red;
  box-shadow: 0 0 1px $riyarchy-label__red, 0 0 1px $riyarchy-label__red;
  margin: 0 auto 1.5rem;
}

.riyarchy-label__header-section {
  text-align: center;
  background: $riyarchy-label__red;
}

.riyarchy-label__header-section__header {
  display: inline-block;
  padding-top: 0.2rem;

  img {
    width: 1.8rem;
    float: left;
    opacity: 0.85;
  }
}

.riyarchy-label__header-section__header__title {
  margin-left: 0.5rem;
  display: inline-block;
  font-size: 2rem;
  line-height: 1;
  color: black;
  float: left;
  text-transform: uppercase;
  font-family: "Avenir-Medium", "Century Gothic", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-shadow: 0 0 0.1px black;
}

.riyarchy-label__level {
  border-bottom: $riyarchy-label__border-width solid $riyarchy-label__red;
  overflow: hidden;
  color: $riyarchy-label__red;
  text-align: center;
  display: flex;
  align-items: stretch;

  &:last-child {
    border-bottom: 0;
  }

  p {
    font-size: 0.6rem;
    text-shadow: 0 0 0.3px $riyarchy-label__red;
  }

  .section-wrapper {
    float: left;
    background: black;
    display: flex;
    align-items: stretch;

    &:first-child { border-right: $riyarchy-label__border-width solid $riyarchy-label__red;}

    &.percent-50 {
      text-align: left;
    }

    &.percent-25 {
      text-align: left;
    }

    &.percent-100 {
      width: 100%;

      .section {
        width: 100%;
      }
    }

    .section {
      padding: 0.5rem;
      border-radius: $riyarchy-label__border-radius;
      box-shadow: 0 0 2px $riyarchy-label__red, 0 0 2px $riyarchy-label__red, 0 0 2px $riyarchy-label__red, 0 0 2px $riyarchy-label__red, 0 0 2px $riyarchy-label__red, 0 0 2px $riyarchy-label__red, 0 0 2px $riyarchy-label__red, 0 0 2px $riyarchy-label__red, 0 0 2px $riyarchy-label__red, 0 0 2px $riyarchy-label__red, 0 0 2px $riyarchy-label__red, 0 0 2px $riyarchy-label__red, 0 0 2px $riyarchy-label__red, 0 0 2px $riyarchy-label__red, 0 0 2px $riyarchy-label__red, 0 0 2px $riyarchy-label__red, 0 0 2px $riyarchy-label__red, 0 0 2px $riyarchy-label__red, 0 0 2px $riyarchy-label__red, 0 0 2px $riyarchy-label__red, 0 0 2px $riyarchy-label__red, 0 0 2px $riyarchy-label__red, 0 0 2px $riyarchy-label__red, 0 0 2px $riyarchy-label__red, 0 0 2px $riyarchy-label__red, 0 0 2px $riyarchy-label__red, 0 0 2px $riyarchy-label__red, 0 0 2px $riyarchy-label__red, 0 0 2px $riyarchy-label__red, 0 0 2px $riyarchy-label__red, 0 0 2px $riyarchy-label__red, 0 0 2px $riyarchy-label__red, 0 0 2px $riyarchy-label__red, 0 0 2px $riyarchy-label__red, 0 0 2px $riyarchy-label__red, 0 0 2px $riyarchy-label__red, 0 0 2px $riyarchy-label__red, 0 0 2px $riyarchy-label__red, 0 0 2px $riyarchy-label__red, 0 0 2px $riyarchy-label__red, 0 0 2px $riyarchy-label__red, 0 0 2px $riyarchy-label__red, 0 0 2px $riyarchy-label__red, 0 0 2px $riyarchy-label__red, 0 0 2px $riyarchy-label__red, 0 0 2px $riyarchy-label__red, 0 0 2px $riyarchy-label__red, 0 0 2px $riyarchy-label__red, 0 0 2px $riyarchy-label__red, 0 0 2px $riyarchy-label__red, 0 0 2px $riyarchy-label__red;
    }
  }
}
