$social-networks__height: 110px;
$social-networks__monaco-font-family: Monaco, Consolas, "Lucida Console", monospace;
$social-networks__row-count: 3;

.social-networks {
  margin-bottom: 1rem;
  padding: 0.5rem;
  background: #aaa;
  overflow: auto;
}

.social-networks__prompt {
  padding: 0.5rem 1rem;
  background: white;
  border: 1px solid black;
  font-family: $social-networks__monaco-font-family;
  width: 60%;
  float: left;
  line-height: 2rem;
  height: $social-networks__height;
}

.social-networks__choices {
  background: white;
  border: 1px solid black;
  width: 40%;
  float: left;
  height: $social-networks__height;
  overflow: hidden;
}

.social-networks__choices__column {
  display: inline-block;
  width: 50%;
  float: left;
  padding-top: 0.8rem;
}

.social-networks__choices__choice {
  display: block;
  font-family: $social-networks__monaco-font-family;
  height: 1/$social-networks__row-count*$social-networks__height;
  margin-top: -0.3rem;

  &:before {
    content: '▸';
    padding-right: 0.2rem;
    padding-left: 0.2rem;
    opacity: 0;
    font-size: 1.2rem;
  }

  &:hover {
    &:before {
      opacity: 1;
    }
  }
}
