body.index {
  $white: #FAFAFA;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  $chinese-title-width: 180px;
  $space-between-elements: 4.5rem;

  .page-section {
    width: 97%;
    max-width: 1000px;
    margin: 0 auto;
    overflow: hidden;
    padding-top: $space-between-elements;
    background: green;
  }

  .chinese-title {
    float: left;
    width: $chinese-title-width;
    background: blue;

    h1 {
      color: black;
      line-height: 1.05;
      font-size: 9rem;
      text-align: center;
      font-family: "Hiragino Sans GB", "STHeiti", sans-serif;
      font-weight: 800;

      &:last-child {
        position: relative;
        bottom: 0.62em;
        left: 0.7em;
      }
    }
  }

  .content {
    width: calc(100% - #{$chinese-title-width});
    float: left;
    padding-left: $space-between-elements/4;
    background: yellow;
  }

  .english-title {
    font-size: 4rem;
    font-weight: 800;
    line-height: 1;
    padding-bottom: $space-between-elements/3;
  }

  .content__paragraph {
  }
}
