body.index {
  $white: #FAFAFA;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

  .page-section {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    overflow: hidden;
    padding-top: 1.3rem;
  }

  .chinese-title {
    float: left;

    h1 {
      color: black;
      line-height: 1.05;
      font-size: 9rem;
      text-align: center;
      font-family: "Hiragino Sans GB", "STHeiti", sans-serif;
      font-weight: 800;

      &:last-child {
        position: relative;
        bottom: 0.62em;
        left: 0.7em;
      }
    }
  }

  .content {
    padding-top: 0.5rem;
  }

  .english-title {
    font-size: 4rem;
    font-weight: 800;
    line-height: 1;
  }

  .content__paragraph {
  }
}
