body.w5 {
  $white: #FAFAFA;
  height: 100%;
  background: #eee;

  .title-bar {
    background: black;
    display: flex;
    justify-content: space-between;
    min-width: 800px;
    background-color: #000000;
    $black-distance: 60%;
    $gradient-distance: 100%;
    background-image: -moz-linear-gradient( left, #000000, #000000 $black-distance, #ffffff $gradient-distance);
    background-image: -webkit-linear-gradient( left, #000000, #000000 $black-distance, #ffffff $gradient-distance);
    background-image: -o-linear-gradient( left, #000000, #000000 $black-distance, #ffffff $gradient-distance);
    background-image: -ms-linear-gradient( left, #000000, #000000 $black-distance, #ffffff $gradient-distance);
    background-image: linear-gradient( left, #000000, #000000 $black-distance, #ffffff $gradient-distance);
    position: relative;
    overflow: hidden;

    h1 {
      font-size: 3rem;
      float: left;
      padding-left: 0.2em;
      text-transform: uppercase;
      line-height: 1;

      span:first-child {
        color: #CC0000;
        -webkit-text-stroke: 1px $white;
      }

      span:nth-child(2) {
        color: $white;
        margin-left: 0.05em;
        -webkit-text-stroke: 1px $white;
      }
    }

    .white-block {
      background: #FAFAFA;
      height: 200px;
      width: 30%;
      border-top-left-radius: 30%;
      align-self: flex-end;
      position: absolute;
      bottom: -163px;
      right: 0;
      display: flex;
      z-index: 0;
    }

    h2 {
      width: 20%;
      min-width: 250px;
      text-align: right;
      font-size: 1.5rem;
      text-transform: uppercase;
      float: right;
      padding-left: 3em;
      padding-right: 0.3em;
      border-top-left-radius: 50%;
      align-self: flex-end;
      position: relative;
      z-index: 1;
    }
  }
}
