body.w10 {
  $pixel-size: 18px;

  .pixel {
    width: $pixel-size;
    height: $pixel-size;
    float: left;
    // border: 1px solid #888;

    &.clear {
      background: 0;
    }

    &.black {
      background: black;
    }

    &.orange {
      background: orange;
    }

    &.white {
      background: white;
    }

    &.green {
      background: green;
    }

    &.light-green {
      background: lightgreen;
    }

    &.red {
      background: red;
    }
  }
}
