.w2.page-section-wrapper {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  
  .page-section {
    width: 800px;
    margin: 0 auto;

    .title-section {
      border-bottom: 1px solid red;

      h1 {
        font-weight: 500;
        text-align: center;
        width: 50%;
        margin: 0.6em auto;

        a {
          color: #07CEFF;
        }
      }
    }

    .nav-section {
      overflow: hidden;

      a {
        font-size: 1.3em;
        font-weight: 500;
        float: left;
        width: 25%;
        text-align: center;
        padding-top: 0.32em;
      }
    }

    .content-section {

      h2 {
        font-weight: 500;
        font-size: 2em;
        background: yellow;
        margin-top: 0.5em;
      }
    }
  }
}