body.w7 {
  $green: #32FC2B;
  background: #111;
  height: 100%;

  .page-section {
    display: flex;
    height: 50%;
    padding-top: 5px;

    .content-section {
      flex-grow: 2;
      border: 2px solid $green;
      border-bottom: 0;
      margin-right: 5px;
      padding: 0.8em 0.8em;

      p {
        color: $green;
        text-transform: uppercase;
      }
    }

    .status-section {
      border: 2px solid $green;
      border-bottom: 0;
      margin-right: 5px;
      padding: 0.8em 0.8em;
      text-align: center;

      p {
        color: $green;
        text-transform: uppercase;
      }
    }
  }

  .buttons-section {
    display: flex;
    justify-content: space-between;

    p {
      background: $green;
      padding: 0 0.75em;
      text-transform: uppercase;
      font-weight: 800;
    }
  }

}
